h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

body, html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 100%;
    height: 100vh; /* view height */
    position: relative;
    overflow: hidden;
}

/* BACKGROUND */
#background, #gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:-1;
}

#background {
    //background-image: url("ben.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachement: fixed;
    background-size: cover;
    transform: scale(1.5); /* scale figure to remove border filter artifact */
    filter: blur(10px);
}

#gradient {
    background: radial-gradient(grey, black);
    opacity: 0.3;
}

#content {
    margin: 0 auto;
    height: 100%;
    display: flex; /* evenly space child divs */
    flex-direction: column;
    justify-content: space-between;
}

/* MENU */
#menu {
    width: 100%;
    padding: 0.5em 0; /* top + bottom margin */
    margin: 0 auto; /* center */
    display: flex; /* flex right */
    justify-content: flex-end;

    //position: relative;
    //display: inline-block;
}

/* NOW PLAYING */
#now-playing {
    width: 100%;
    margin 0 auto;
    text-align: center;
    color: white;
    //background-color: red;
}

/* ALBUM ART */
#album-art {
    width: 80%;
    margin: 0 auto;
    //background: green;
}


#album-art img{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 20px;
}

/* PLAYER CONTROLS */
#player-controls {
    width: 55%;
    padding: 0 0 2em 0; /* top right bottom left */
    margin: 0 auto; /* center */
    display: flex; /* evenly spread child divs */
    justify-content: space-between;
}

/* BUTTON */
#button {
    border-radius: 50%; /* make circle */
    text-align: center; /* horizontal-align */
    vertical-align: middle; /* vertical-align */
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
    display: inline-block;
    cursor: pointer;
}

#button:hover {
    //background: radial-gradient(grey, black);
    background-color: grey;
    opacity: 0.3;
}

#button i {
    font-size: 2em; /* increase font size */
    width: 1.5em;
    line-height: 1.5em; /* needed for vertical-align */
    color: white; /* white text color */
}


/* PORTRAIT */
@media screen and (orientation:portrait) {
    #content {
        width: 80%;
    }
}

/* LANDSCAPE */
@media screen and (orientation:landscape) {
    #content {
        width: 50%;
    }
}

/* FONTS */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(fonts/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

