{% extends "base.html" %}

{% block menu %}

<button class="button"><a href="{{url_for('stop')}}"><i class="material-icons">apps</i></a></button>

{% endblock %}



{% block content %}

<div id="album-art">
    <a href="{{url_for('index')}}"><img src="{{now_playing.album_art}}" alt=""></a>
</div>


<div id="now-playing">
    <h1>{{now_playing.title}}</h1>
    <h2>{{now_playing.artist}}</h2>
</div>

<div id="progress-bar">
    <div id="progress-indicator"></div>
    <style>#progress-indicator {width: {{now_playing.position}}%;}</style>
</div>


<div id="player-controls">
    <button class="button"><a href="{{url_for('previous')}}"><i class="material-icons">fast_rewind</i></a></button>
    <button class="button"><a href="{{url_for('play')}}">
        {% if now_playing.play == True %}
        <i class="material-icons">pause</i>
        {% else %}
        <i class="material-icons">play_arrow</i>
            {% if now_playing.position > 0 %}
            <style>#progress-bar {visibility: visible;}</style>
            {% endif %}
        {% endif %}
    </a></button>
    <button class="button"><a href="{{url_for('stop')}}"><i class="material-icons">stop</i></a></button>
    <button class="button"><a href="{{url_for('next')}}"><i class="material-icons">fast_forward</i></a></button>
</div>

{% endblock %}